.start_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 50vw;
    margin: 0 auto;
}
.start_content {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    padding: 20px;
}
.start_button {
    background-color: #8A2BE2;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
}
.logo_wrapper {
    object-fit: contain;
    text-align: center;
    margin-top: 50px;
}
.logo {
    width: 100px;
    height: 30px;
}
.list_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.list_section ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}
.list_section ul li span {
    margin-right: 8px;
}
.dev_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.dev_section a {
    text-decoration: none;
    color: #3CB371;
    font-weight: 600;
}
.dev_section p {
    color: #3CB371;
    font-weight: 600;
}
.dev_section p span {
    margin-right: 8px;
    color: #8A2BE2;
}
.dev_section a span {
    margin-right: 8px;
    color: #8A2BE2;
}

@media only screen and (max-width: 600px) {
  .start_container {
    width: 90vw;
  }
  .dev_section {
    flex-direction: column;
}
.list_section {
    margin-left: -180px;
}

}