.header {
    height: 30px;
}
.score_box {
    background-color: white;
    margin: 20px;
    border-radius: 14px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 10px 20px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}
.middle_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    /* margin: 20px; */
}
.middle_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.result {
    background-color: rgba(128, 0, 128, 0.2);
    margin: 0;
    height: 100vh;
}

.result h3 {
  font-size: 24px;
  /* letter-spacing: 1.4px; */
  text-align: center;
  padding-top: 20px;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}
.back_icon {
    font-size: 30px;
    padding: 20px 0 0 20px;
    cursor: pointer;
    width: 50px;
}
.logo_wrapper {
    object-fit: contain;
    text-align: center;
    margin-top: 120px;
}
.logo {
    width: 100px;
    height: 30px;
}

@media only screen and (max-width: 600px) {
  .score_box {
    margin: 20px;
  }
}